.content {
  height: calc(100vh - 48px);
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.header {
  font-weight: bold;
  height: 48px;
  line-height: 48px;
  padding: 8px 16px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.formContainer {
  display: flex;
}

.formGroup {
  display: flex;
  flex-direction: column;
}
